<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {#<a class="navbar-brand" href="#">Navbar</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item active">#}
                {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Link</a>#}
            {#</li>#}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Lundi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'lundi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'lundi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'lundi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Mardi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mardi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mardi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mardi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Mercredi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mercredi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mercredi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'mercredi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Jeudi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'jeudi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'jeudi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'jeudi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Vendredi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'vendredi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'vendredi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'vendredi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Samedi</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'samedi'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'samedi'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'samedi'}) }}#soir">Soir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-primary h2"><b>Dimanche</b></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'dimanche'}) }}#matin">Matin</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'dimanche'}) }}#midi">Après midi</a>
                    <a class="dropdown-item" href="{{ path('jour', {'id': 'dimanche'}) }}#soir">Soir</a>
                </div>
            </li>
            {#<li class="nav-item">#}
                {#<a class="nav-link disabled" href="#">Disabled</a>#}
            {#</li>#}
        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
    </div>
</nav>