
<html>
<head>
    <title>Google APIs - Sample JS Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="{{ path('bo_index') }}">Administrateur</a>
    <a class="navbar-brand" href="{{ path('live') }}" target="_blank">Visiteur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('emission_index') }}">Gérer les émissions</a>
            </li>
            {#<li class="nav-item dropdown">#}
            {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#YT#}
            {#</a>#}
            {#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#<a class="dropdown-item" href="{{ path('yt_admin') }}">YT Admin</a>#}
            {#<a class="dropdown-item" href="#">Another action</a>#}
            {#<div class="dropdown-divider"></div>#}
            {#<a class="dropdown-item" href="#">Something else here</a>#}
            {#</div>#}
            {#</li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Gérer les utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category_index') }}">Gérer les catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('upload') }}">Upload</a>
            </li>
        </ul>
    </div>
</nav>



{#{{ form_start(form) }}#}

<div class="container" style="margin-top: 5%">
    <div class="mt-5">
        <h3 class="text-center">
            Ajouter une vidéo sur la chaîne Youtube
        </h3>
    </div>
    {#<form action="#" method="post">#}
        <div class="form-group">
            <label for="title">Titre:</label>
            <input class="form-control" name="title" id="title" type="text" placeholder="Titre de la vidéo">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="description" placeholder="Description"></textarea>
        </div>
        <div>
            {#{{ form(form) }}#}
        </div>

        <div>
            <label for="privacy-status">Vidéo privée ou pas ?</label>
            <select class="form-control" name="status" id="privacy-status">
                <option>public</option>
                <option>unlisted</option>
                <option>private</option>
            </select>
        </div>
        {#<input type="submit" class="btn btn-secondary ml-5" value="Sauvegarder l'upload">#}
    {#</form>#}

{#{{ form_end(form) }}#}

    <div class="mt-5">
            <input type="file" id="select-file-button" class="button" accept="video/*">
            <button class="btn btn-info" id="upload-file-button">Upload Video</button>
            <input id="select-file" type="file" style="display:none" accept="video/*"><br><br>
    <div class="during-upload text-center m-5">
                <p><progress id="upload-progress" max="1" value="0" style="width: 70%"></progress>
                    <span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span id="total-bytes"></span> bytes)</p>
                {#<progress id="upload-progress" max="1" value="0" style="width: 70%"></progress>#}
            </div>

            <div class="post-upload">
                {#<p>Uploaded video</span>. Status...</p>#}
                <ul id="post-upload-status"></ul>
                <div id="player"></div>
            </div>

        </div>
    <p id="disclaimer">By uploading a video, you certify that you own all rights to the content or that you are authorized by the owner to make the content publicly available on YouTube, and that it otherwise complies with the YouTube Terms of Service located at <a href="http://www.youtube.com/t/terms" target="_blank">http://www.youtube.com/t/terms</a></p>

</div>



{#<button id="execute-request-button">Authorize</button>#}
{#<button id="select-file-button">Select file</button>#}
{#<input id="select-file" type="file" style="display:none" accept="video/*"><br><br>#}
{#<button id="upload-file-button">Upload file</button>#}

<script src="../js/up.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</body></html>