<div class="text-center">
    {{ form_start(form) }}
    {#{{ form_label (form, {'label'}) }}#}
    {{ form_widget(form) }}
    <button class="btn btn-info">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>

