{% extends 'base.html.twig' %}

{% block title %}Emission index{% endblock %}

{% block body %}
    <h1>Emission index</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Titre</th>
                <th>Resume</th>
                <th>Catégorie</th>
                <th>Médias</th>
                {#<th>Images</th>#}
                {#<th>Lien</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {#{{ dump(emissions) }}#}
        {% for emission in emissions %}
            <tr>
                {#<td>{{ emission.id }}</td>#}
                <td>{{ emission.title }}</td>
                <td>{{ emission.resume }}</td>
                <td>{{ emission.category.type }}</td>
                <td>
                    <embed src="{{ emission.lien }}" type="" height="150px" width="150px">
                </td>
                <td><img src="/medias/{{ emission.medias }}" alt=""></td>
                {#<td>{{ emission.lien }}</td>#}
                <td>
                    <a href="{{ path('emission_show', {'id': emission.id}) }}">Voir</a>
                    <a href="{{ path('emission_edit', {'id': emission.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emission_new') }}">Create new</a>
{% endblock %}
