<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
    <a class="navbar-brand" href="#"><img  class="img-2Rives" src="../images/logo-2rives-blanc.png" alt="logo 2 Rives TV"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('live') }}">Direct</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('replay_all') }}">Replay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('yt_emission') }}">Replay YT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('programme') }}">Programme</a>
            </li>
        </ul>
    </div>
</nav>


{#<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">#}
    {#<a class="navbar-brand" href="/"><img  class="img-2Rives" src="../images/logo-2rives-blanc.png" alt="logo 2 Rives TV"></a>#}
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}
    {#<div class="collapse navbar-collapse justify-content-end" id="navbarNav">#}
        {#<ul class="navbar-nav">#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="{{ path('live') }}"><b class="">Direct</b></a></h4>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="{{ path('replay_all') }}"><b class="">Replay</b></a></h4>#}

            {#</li>#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="dump/replay.php"><b class="">Old replay</b></a></h4>#}

            {#</li>#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="{{ path('old_replay') }}"><b class="">Old replay twig</b></a></h4>#}

            {#</li>#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="dump/replaynew.php"><b class="">replay new</b></a></h4>#}

            {#</li>#}
            {#<li class="nav-item">#}
                {#<h4><a class="nav-link" href="{{ path('programme') }}"><b class="">Programme</b></a></h4>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('bo_index') }}">Bo</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#</nav>#}