<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="{{ path('bo_index') }}">Administrateur</a>
    <a class="navbar-brand" href="{{ path('live') }}" target="_blank">Visiteur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('emission_index') }}">Gérer les émissions</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    YT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('yt_admin') }}">YT Admin</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Gérer les utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category_index') }}">Gérer les catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('show_daily') }}">Voir les vidéos daily</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('add_daily') }}">Ajouter les vidéos daily</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ajout_d') }}">test_fusion</a>
            </li>
        </ul>
    </div>
</nav>

