{#<nav class="navbar navbar-expand-lg navbar-light bg-primary">#}
    {#<a class="navbar-brand" href="{{ path('bo_index') }}" target="_blank">Visiteur</a>#}
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}

    {#<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">#}
        {#<ul class="navbar-nav">#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('live') }}">Live</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('replay') }}">Replay</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('bo_index') }}">Bo</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#</nav>#}

<!--Navbar-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
    <a class="navbar-brand" href="/"><img  class="img-2Rives" src="logos/logo-2rives-blanc.png" alt="logo 2 Rives TV"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('live') }}">Direct</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('replay') }}">Replay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('bo_index') }}">Bo</a>
            </li>
        </ul>
    </div>
</nav>